<agm-map [zoom]="12" [latitude]="city.latitude"
	[longitude]="city.longitude"> <agm-marker
	*ngFor="let occurrence of occurrences" [latitude]="occurrence.latitude"
	[longitude]="occurrence.longitude"> <agm-info-window>{{occurrence.info}}</agm-info-window>
</agm-marker> </agm-map>
<mat-google-maps-autocomplete [addressLabelText]="['']" [country]="['ie']" [types]="['address']" [appearance]="appearance.OUTLINE" (onAddressSelected)="onAddressSelected($event)"
  (onLocationSelected)="onLocationSelected($event)">
</mat-google-maps-autocomplete>